body{
    font-family:Verdana ;
    background-color:White;
	background-image:url(images/footer_lodyas.png);
	padding:0;
    margin:0;
}

header {
	text-align:center;
	}
	
.colonne1{
    width:33%;
	
	height:380px;
    display:inline-block;
    vertical-align:top;
    box-sizing:border-box;
    padding-left:20px;
    padding-right:20px;
    line-height:20px;
}

.colonne2{
    width:33%;
	
	height:380px;
    display:inline-block;
    vertical-align:top;
    box-sizing:border-box;
    padding-left:20px;
    padding-right:20px;
    line-height:20px;
}

.colonne3{
    width:33%;
	
	height:380px;
    display:inline-block;
    vertical-align:top;
    box-sizing:border-box;
    padding-left:20px;
    padding-right:20px;
    line-height:20px;
}

footer{
	text-align: center;
}
